node_modules
app/bower_components

dist
.tmp
.sass-cache
npm-debug.log

# No CSS, only scss
app/styles/**/*.css

*.sublime-workspace

/coverage

/test-results.xml

/complexity

.sass-cache

/app/build.json

.idea/

/coverage-html/

.DS_Store

/test/e2e/reports

/app/styles/main.css

/helper-interface/helper-interface.css

/e2e-coverage/

/e2e-report/

